<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choa.s4.board.qna.QnaDAO">
	
	<select id="qnaList" parameterType="Pager" resultType="QnaDTO">
		select * from
		(select rownum R, N.* from 
		(select * from qna where 
		<choose>
			<when test="kind == 'tt'">
				title
			</when>
			
			<when test="kind == 'wr'">
				writer
			</when>
			
			<otherwise>
				contents
			</otherwise>
		</choose>
		like '%'||#{search}||'%' order by ref desc, step asc) N)
		where R between #{startRow} and #{lastRow}
	</select>
	
	<select id="qnaCount" resultType="Long" parameterType="Pager">
		select count(num) from qna
		where 
		<choose>
			<when test="kind == 'tt'">
				title
			</when>
			<when test="kind == 'wr'">
				writer
			</when>
			<otherwise>
				contents
			</otherwise>
		</choose>
		like '%' || #{search} || '%'
	
	</select>
	
	
	<insert id="qnaWrite" parameterType="QnaDTO">
		insert into qna values(qna_seq.nextval
		, #{title}, #{writer}, #{contents}, sysdate, 0, qna_seq.currval,0,0)
	</insert>
	
	<insert id="qnaReply" parameterType="QnaDTO">
		insert into qna values (qna_seq.nextval
		, #{title}, #{writer}, #{contents}, sysdate, 0, #{ref}, #{step},#{depth})
	
	</insert>
	
	<update id="qnaReplyUpdate" parameterType="QnaDTO">
		update qna set step=step+1 where ref=#{ref} and step>#{step}
	</update>
	
	<select id="qnaSelect" parameterType="QnaDTO" resultType="QnaDTO">
		select * from qna where num =#{num}
	</select>

	
</mapper>    